<!-- Users -->
<div>
    <h1>Manage Users</h1>
    <form action="/admin/create_user">
        <input type='string' name='name' placeholder="User Name"></input>
        <input type='string' name='email' placeholder="User Email"></input>
        <input type='submit' value='Create User'></input>
    </form>

    <table border>
        <tr>
            <th>No.</th>
            <th>User name</th>
            <th>User email</th>
            <th>[x]</th>
        </tr>
        <% @all_user.each do |x| %>
        <tr>
            <td><%= x.id %></td>
            <td><%= x.name %></td>
            <td><%= x.email %></td>
            <td><a href="/admin/delete_user/<%= x.id %>">[x]</a></td>
        </tr>
        <% end %>
    </table>
</div>

<!-- Topics -->
<div>
    <h1>Manage Topics</h1>
    <form action="/admin/create_topic">
        <select name='user_id'>
            <% @all_user.each do |x| %>
            <option value="<%= x.id %>"><%= x.name %></option>
            <% end %>
        </select>
        <input type='string' name='title'   placeholder="Topic Title"></input>
        <input type='text'   name='content' placeholder="Topic Content"></input>
        <input type='submit' value='Create Topic'></input>
    </form>

    <table border>
        <tr>
            <th>No.</th>
            <th>User name</th>
            <th>Topic title</th>
            <th>Topic content</th>
            <th>[x]</th>
        </tr>
        <% @all_topic.each do |x| %>
        <tr>
            <td><%= x.id %></td>
            <td><%= User.find(x.user_id).name %></td>
            <td><%= x.title %></td>
            <td><%= x.content %></td>
            <td><a href="/admin/delete_post/<%= x.id %>">[x]</a></td>
        </tr>
        <% end %>
    </table>
</div>

<!-- Topics -->
<div>
    <h1>Manage Posts</h1>
    <form action="/admin/create_post">
        <select name='user_id'>
            <% @all_user.each do |x| %>
            <option value="<%= x.id %>"><%= x.name %></option>
            <% end %>
        </select>
        <select name='topic_id'>
            <% @all_topic.each do |x| %>
            <option value="<%= x.id %>"><%= x.title %></option>
            <% end %>
        </select>
        <input type='string' name='title'   placeholder="Post Title"></input>
        <input type='text'   name='content' placeholder="Post Content"></input>
        <input type='submit' value='Create Post'></input>
    </form>

    <table border>
        <tr>
            <th>No.</th>
            <th>User name</th>
            <th>Topic title</th>
            <th>Post title</th>
            <th>Post content</th>
            <th>[x]</th>
        </tr>
        <% @all_post.each do |x| %>
        <tr>
            <td><%= x.id %></td>
            <td><%= User.find(x.user_id).name %></td>
            <td><%= Topic.find(x.topic_id).title %></td>
            <td><%= x.title %></td>
            <td><%= x.content %></td>
            <td><a href="/admin/delete_post/<%= x.id %>">[x]</a></td>
        </tr>
        <% end %>
    </table>
</div>