<% if false %>
<div id="mySidenav2" class="sidenav">
  <a></a><a></a><a></a>
  <a href="javascript:void(0)" onclick="openNav()">Vote here!</a>
</div>

<div id="mySidenav" class="sidenav">
  <a></a><a></a><a></a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a></a>
  <a href="javascript:void(0)" id="yourvote" onclick="voteFor(-1)">Your Vote: none</a>
  <table id="voteinterfacetable"><tr></tr></table>
</div>

<script>
var voteSidebarPlayers = ["player 1", "player 2", "player 3", "player 4"];
var voteSidebarVotes = [0, 0, 0, 0];
var yourvote = -1;
</script>
#<script src="votesidebar.js"></script>
<script>
document.getElementById("mySidenav2").style.width = "100px";
generate_table();
</script>
<% end %>
<p>Thread : <%= @topic.title %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= 'Player Count: ' + @topic.roster_count.to_s %>
  </div>
  <div class="panel-body">
    <% if @topic.phase.to_i == 0 %>
      <%= 'Day Phase' %>
    <% else %>
      <%= 'Night Phase' %>
    <% end %>
  </div>
</div>


<!-- Trying Things -->
<div>
  <h2>Dynamic Tabs</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Posts</a></li>
    <li><a data-toggle="tab" href="#menu1">Vote</a></li>
    <li><a data-toggle="tab" href="#menu2">Game Status</a></li>
    <li><a data-toggle="tab" href="#menu3">Game Settings</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Posts</h3>
      <% @posts.each do |x| %>
        <% if x.post_type == 0 && x.hidden == 1 %>
        <% # if this is a hidden mafia post %>
          <% if current_user.id == nil %>
            <% #NothinG! %>
          <% elsif @topic.user_permission(current_user.id) == 2 || @topic.user_permission(current_user.id) == 0%>
            <div class="panel panel-default">
              <div class="panel-body">
                <font face="Times" size="3"><%= @all_user.find(x.user_id).name %></font>
                <%= '-' %>
                <%= x.content %>
              </div>
            </div>
          <% end %>
        <% elsif x.hidden == 0 || x.post_type == -1  %>
        <% # if not a hidden post %>
          <div class="panel panel-default">
            <div class="panel-body">
              <font face="Times" size="3"><%= @all_user.find(x.user_id).name %></font>
              <%= '-' %>
              <%= x.content %>
            </div>
          </div>
        <% end %>
      <% end %>

    
      <% if user_signed_in? %>
        <form action="../posts/create">
          <p><button type="submit" class="btn btn-primary">Reply</button></p>
          <input type="hidden" name="topic_id" value='<%= request.original_url.split('/').last %>' />
          <fieldset class="form-group">
            <textarea class="form-control" type="text" name="content" rows="3"></textarea>
          </fieldset>
        </form>
      <% end %>
      
    </div>
    
    <div id="menu1" class="tab-pane fade">
      <!-- VOTING -->
      <h3>Vote For</h3>
      
      
     
        <form action="/topics/vote">
          <% if @topic.find_player_by_user(current_user.id) != nil && @player.is_dead == false %>
            <input type="hidden" name="topic_id" value='<%= request.original_url.split('/').last %>'/>
            <% if current_user != nil && @topic.find_player_by_user(current_user.id) != nil %>
              <input type="hidden" name="player_id" value='<%= @topic.find_player_by_user(current_user.id).id %>'>
            <% end %>
            <% @vote_list.each do |x| %>
              <div class="radio">
                <label>
                  <input type="radio" name="vote_target_player_id" id="optionsRadios1" value= <%= x.id %>>
                  <%= User.find(x.user_id).name %> (Current vote count: <%= x.vote_count %>)
                </label>
              </div>
            <% end %>
            <p><button type="submit" class="btn btn-primary">Vote</button></p>
          <% end %>
        </form>
     
    
    </div>
    
    <div id="menu2" class="tab-pane fade">
      <h3>Game Settings</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= 'Player Count: ' + @topic.roster_count.to_s %>
        </div>
        <div class="panel-body">
          <%= 'Day Phase: ' + @topic.day_timelimit.to_s + ', Night Phase: ' + @topic.night_timelimit.to_s %>
        </div>
      </div>
    </div>
    <div id="menu3" class="tab-pane fade">
      
    </div>
  </div>
</div>


<% if false %>

  <% roster_id = @topic.last_registered_player_id %>
  <% while roster_id != -1 %>
    <% roster_p = @all_player.find(roster_id) %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @all_user.find(roster_p.user_id).name %>
      </div>
      <div class="panel-body">
        <% if @topic.phase == 0 %>
          <%= 'Vote Count: ' + roster_p.vote_count.to_s %>
          <%= 'Voted For: ' + @all_player.find(roster_p.vote_target_player_id).player_name %>
        <% end %>  
      </div>
    </div>
    <% roster_id = roster_p.prev_player_id %>
  <% end %>
<% end %>

<div>
  
  <!-- form action="../posts/create">
    <p><button type="submit" class="btn btn-primary">Reply</button></p>
    <input type="hidden" name="topic_id" value='--> <!-- %= request.original_url.split('/').last %>' />
    
    <fieldset class="form-group">
      <textarea class="form-control" type="text" name="content" rows="3"></textarea>
    </fieldset>
    
  </form -->

</div>




