<div id="mySidenav2" class="sidenav">
  <a></a><a></a><a></a>
  <a href="javascript:void(0)" onclick="openNav()">Vote here!</a>
</div>

<div id="mySidenav" class="sidenav">
  <a></a><a></a><a></a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a></a>
  <a href="javascript:void(0)" id="yourvote" onclick="voteFor(-1)">Your Vote: none</a>
  <table id="voteinterfacetable"><tr></tr></table>
</div>

<script>
var voteSidebarPlayers = ["player 1", "player 2", "player 3", "player 4"];
var voteSidebarVotes = [0, 0, 0, 0];
var yourvote = -1;
</script>
<script src="votesidebar.js"></script>
<script>
document.getElementById("mySidenav2").style.width = "100px";
generate_table();
</script>

<p><%= @topic.title %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= 'Player Count: ' + @topic.roster_count.to_s %>
  </div>
  <div class="panel-body">
    <%= 'Day Phase: ' + @topic.day_timelimit.to_s + ', Night Phase: ' + @topic.night_timelimit.to_s %>
  </div>
</div>

<% roster_id = @topic.last_registered_player_id %>
<% while roster_id != -1 %>
  <% roster_p = @all_player.find(roster_id) %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @all_user.find(roster_p.user_id).name %>
    </div>
    <!--div class="panel-body"-->
      <!--%= x.content %>
    </div-->
  </div>
  <% roster_id = roster_p.prev_player_id %>
<% end %>

<!--div>
  
  <form action="../posts/create">
    <p><button type="submit" class="btn btn-primary">Reply</button></p>
    <input type="hidden" name="topic_id" value='<%= request.original_url.split('/').last %>' />
    
    <fieldset class="form-group">
      <textarea class="form-control" type="text" name="content" rows="3"></textarea>
    </fieldset>
    
  </form>

</div-->
