<div id="mySidenav2" class="sidenav">
  <a></a><a></a><a></a>
  <a href="javascript:void(0)" onclick="openNav()">Vote here!</a>
</div>

<div id="mySidenav" class="sidenav">
  <a></a><a></a><a></a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a></a>
  <a href="javascript:void(0)" id="yourvote" onclick="voteFor(-1)">Your Vote: none</a>
  <table id="voteinterfacetable"><tr></tr></table>
</div>

<script>
var voteSidebarPlayers = ["player 1", "player 2", "player 3", "player 4"];
var voteSidebarVotes = [0, 0, 0, 0];
var yourvote = -1;
</script>
<script src="votesidebar.js"></script>
<script>
document.getElementById("mySidenav2").style.width = "100px";
generate_table();
</script>


<p><%= @topic.title %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= @user.name %>
  </div>
  <div class="panel-body">
    Number of Mafia: <%= @topic.num_mafia %> <br>
    Number of Town: <%= @topic.num_town %> <br>
    Power Roles: 
    <br><br>
    Players signed up:
    <% for i in 0..((@topic.num_mafia + @topic.num_town)-1) %>
      <br><%= (i+1).to_s + '. '%>
      <% if @topic.player_last_index(i) != nil %> 
        <%= @topic.player_last_index(i).player_email%>
      <% end %>
    <% end %>
    <br><br>
    Game Creator's Notes:<br> <%= @topic.content %>
  </div>
    <% # = link_to "Create Game", '/t/new', class: "btn btn-lg btn-danger" %>
    <% if @topic.category == 1 and user_signed_in? and @topic.user_id != current_user.id %>
      <% if @topic.has_user(current_user.id) %>
        <!--%= link_to "Sign up", '/topics/signup', class: "btn btn-lg btn-danger" %-->
      <% elsif %>
        <!--form action="/topics/signup"-->
        <form action="/topics/signup">
        <p><button type="submit" class="btn btn-lg btn-danger">Join Game</button></p>
        <input type="hidden" name="id" value='<%= request.original_url.split('/').last %>' />
        <input type="hidden" name="user_id" value= '<%= current_user.id %>' />
        </form>
      <% end %>
      <% if @topic.has_user(current_user.id) %>
        <form action="/topics/leave_game">
        <p><button type="submit" class="btn btn-lg btn-danger">Leave Game</button></p>
        <input type="hidden" name="id" value='<%= @topic.id %>' />
        </form>
      <% end %>
    <% end %>
</div>

<% @posts.each do |x| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @all_user.find(x.user_id).name %>
    </div>
    <div class="panel-body">
      <%= x.content %>
    </div>
  </div>
<% end %>

<div>
  <% if user_signed_in? %>
  <form action="../posts/create">
    <p><button type="submit" class="btn btn-primary">Reply</button></p>
    <input type="hidden" name="topic_id" value='<%= request.original_url.split('/').last %>' />
    
    <fieldset class="form-group">
      <textarea class="form-control" type="text" name="content" rows="3"></textarea>
    </fieldset>
    
  </form>
  <% else %>
  	<%= link_to "Create an account", new_user_registration_path, class: "btn btn-lg btn-info" %> 
    <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

