
<p><%= @topic.title %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= @user.name %>
  </div>
  <div class="panel-body">
    <%= @topic.content %>
  </div>
    <% # = link_to "Create Game", '/t/new', class: "btn btn-lg btn-danger" %>
<<<<<<< HEAD
    <% if @topic.category == 1 and user_signed_in? and @topic.user_id != current_user.id %>
      <% if @topic.has_user(current_user.id) %>
        <!--%= link_to "Sign up", '/topics/signup', class: "btn btn-lg btn-danger" %-->
      <% elsif %>
        <!--form action="/topics/signup"-->
        <form action="/topics/signup">
        <p><button type="submit" class="btn btn-lg btn-danger">Join Game</button></p>
        <input type="hidden" name="id" value='<%= request.original_url.split('/').last %>' />
        </form>
      <% end %>
    <form action="/topics/del_player">
    <p><button type="submit" class="btn btn-lg btn-danger">Leave Game</button></p>
    <input type="hidden" name="id" value='<%= @topic.id %>' />
    </form>
=======
    <% if @topic.category == 1 and user_signed_in? %>
    <% if false %><%= link_to "Sign up", '/topics/signup', class: "btn btn-lg btn-danger" %><% end %>
    <form action="/topics/signup">
    <p><button type="submit" class="btn btn-lg btn-danger">Join Game</button></p>
    <input type="hidden" name="id" value='<%= request.original_url.split('/').last %>' />
  </form>
>>>>>>> ptoy

    <% end %>
</div>

<% @posts.each do |x| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @all_user.find(x.user_id).name %>
    </div>
    <div class="panel-body">
      <%= x.content %>
    </div>
  </div>
<% end %>

<div>
  
  <form action="../posts/create">
    <p><button type="submit" class="btn btn-primary">Reply</button></p>
    <input type="hidden" name="topic_id" value='<%= request.original_url.split('/').last %>' />
    
    <fieldset class="form-group">
      <textarea class="form-control" type="text" name="content" rows="3"></textarea>
    </fieldset>
    
  </form>

</div>

